<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :creation_date, style: "display: block" %>
    <%= form.date_field :creation_date %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.select(:rating, (1..5)) %>
  </div>
  

  <div>
    <%= form.label :genre_id, style: "display: block" %>
    <%= form.select(:genre_id, (1..Genre.last.id)) %>
    <br>
  </div>
  <br>
  <br>
  <div class="form-group">
    <% if @movie.image.attached? %>
      <%= image_tag @movie.image, style: "width: 200px; display: block" %>
    <% end %>

    <%= form.label:image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
