<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= movie.creation_date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre_id %>
  </p>

  <p>
    <strong>Characters:</strong>
    <%= movie.characters %>
  </p>
</div>
