<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= movie.name %>
    <br>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
    <% if movie.image.attached? %>
      <%= image_tag (movie.image) %>
  
    <% end %>
    <br>
    <%= movie.creation_date %>
    
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
