<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= character.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= character.weight %>
  </p>

  <p>
    <strong>History:</strong>
    <%= character.history %>
  </p>

  <p>
    <strong>Movies:</strong>
    <% character.movies.each do |movie| %>
      <%= movie.name %> |
      
      <br>
    <% end %>
  </p>

</div>
